<<<<<<< HEAD
h1{
<<<<<<< HEAD
  color: brown;
=======
h2{
    color: blue;
>>>>>>> 27625e47679af65fce200e1ce50e7ab92fba2c12
}
=======
color:red
}
=======
h2{
    color: blue;
}
>>>>>>> 27625e47679af65fce200e1ce50e7ab92fba2c12
>>>>>>> e8195791c3a7e2c128ae1f46be9da3a69f57d3f3
